@import compass
@import utils


  
$big_column_width: 960px

#container
  width: $big_column_width
  margin: 0 auto
  border: 1px solid #333
  +pie-clearfix
    
=formstyle
  +arial
  label
    +block
    +bold
    font-size: 12px
    margin: 0 0 3px 0
  input
    width: 100%
    +arial
    font-size: 14px
    color: #555
    padding: 2px

=lessgrid($number_of_columns :4, $gutter :10px)
  $width_of_column:     $big_column_width / $number_of_columns
  .field
    background: #ccc
    +pie-clearfix
    +formstyle
    +fl
    padding: 5px 0
    border-top: 1px solid #333
    padding-left: $gutter
  &:last-child
    border-top: 1px dotted #333
    padding-left: none

  .field-1
    width: floor($width_of_column * 1 - $gutter)

  .field-2
    width: floor($width_of_column * 2 - $gutter)

  .field-3
    width: floor($width_of_column * 3 - $gutter)
    
  .field-4
    width: floor($width_of_column * 4 - $gutter)

.row-2
  +lessgrid(2)

.row-3
  +lessgrid(3, 40px)

.row-4
  +lessgrid(4)

.row-5
  +lessgrid(5)

.row-6
  +lessgrid(6)

.row-7
  +lessgrid(7)




  
  
  
  
  